@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --black: #000000;
    --white: #FFFFFF;

    --vibrant-green: #0FF07C;
    --dark-blue: #0E222B;
    --gray: #69737C;
    --light-pink: #DE888A;

    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr auto repeat(4, 1fr);
    background-image: linear-gradient(to top left, var(--dark-blue), var(--black));
}

#promo-code {
    margin: 0;
    grid-row: 2;
    color: var(--vibrant-green);
}

