:root {
    --black: #000000;
    --white: #FFFFFF;
    
    --vibrant-green: #69F5AD;
    --dark-blue: #0E222B;
    --gray: #69737C;
    --light-pink: #DE888A;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr auto repeat(4, 1fr);
}

#promo-code {
    margin: 0;
    grid-row: 2;
}

