@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}

:root {
    --black: #000000;
    --white: #FFFFFF;

    --vibrant-green: #0FF07C;
    --dark-blue: #0E222B;
    --gray: #69737C;
    --light-pink: #DE888A;

    font-family: 'Roboto', sans-serif;
}

:root::selection {
    color: inherit;
    background: var(--dark-blue);
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;  /* Safari */
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--light-pink);
}

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr auto repeat(4, 1fr);
    background-image: linear-gradient(to top left, var(--dark-blue), var(--black));
    gap: 24px;
    text-align: center;
}

p {
    display: inline;
    color: var(--white);
    margin: 0;
}

span {
    color: var(--vibrant-green);
}

#promo-code-container {}

#promo-code {
    margin: 0;
    grid-row: 2;
    color: var(--vibrant-green);
}

#info-container {
    width: 100%;
    height: 100%;
    grid-row: 3 / -2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

